<footer class="footer">
  <div class="row">
    <div class="col-sm-6 col-md-6 text-left">
      <p>&copy; 2015 Flashcards App</p>
    </div>
    <div class="col-sm-6 col-md-6 text-right">
      <p>Created by <a href="https://www.facebook.com/krutman" target="_blank">Mikhail Krutman</a></p>
    </div>
  </div>
</footer>