<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if current_page?(:login) %>"><%= link_to 'Login', :login %></li>
  <li role="presentation" class="<%= 'active' if current_page?(:signup) %>"><%= link_to 'Sign Up', :signup %></li>
</ul>
