<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if current_page?(login_path) %>"><%= link_to 'Login', login_path %></li>
  <li role="presentation" class="<%= 'active' if current_page?(signup_path) %>"><%= link_to 'Sign Up', signup_path %></li>
</ul>
