<% provide(:title, @deck.title) %>

<div class="row">
  <div class="col-lg-12 text-center">
    <h1><%= @deck.title %></h1>
    <%= link_to 'Добавить карточку в колоду', new_deck_card_path(@deck), class: "btn btn-large btn-primary" %>
    <hr>
  </div>
</div>
<div class="row">
  <%= render @cards %>
</div>
<div class="row text-center">
  <div class="col-lg-12">
    <%= will_paginate @cards %>
  </div>
</div>
