<% provide(:title, "Все карточки") %>

<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Все карточки</h1>
    <hr>
  </div>
</div>
<div class="row">
  <%= render @cards %>
</div>
<div class="row text-center">
  <div class="col-lg-12">
    <%= will_paginate @cards %>
  </div>
</div>

<%= render 'shared/pagination_disabled_script' %>